# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# Wikimedia Tool Labs specific note:
#   Please be aware that *only* jsub and jstart are acceptable
#   commands to schedule via cron.  Any command specified here will
#   be modified to be invoked through jsub unless it is one of
#   the two.
#
# m h  dom mon dow   command
0 0 * * */5 /usr/bin/jsub -mem 20g -N citationhunt_update_en -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py en
0 0 * * 1 /usr/bin/jsub -mem 10g -N citationhunt_update_fr -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py fr
0 14 * * 1 /usr/bin/jsub -mem 10g -N citationhunt_update_it -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py it
0 22 * * 1 /usr/bin/jsub -mem 10g -N citationhunt_update_pl -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py pl
0 0 * * 5 /usr/bin/jsub -mem 10g -N citationhunt_update_ca -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py ca
0 6 * * 5 /usr/bin/jsub -mem 10g -N citationhunt_update_he -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py he
0 9 * * 5 /usr/bin/jsub -mem 10g -N citationhunt_update_es -once -l release=trusty /data/project/citationhunt/www/python/venv/bin/python2 /data/project/citationhunt/citationhunt/scripts/update_db_tools_labs.py es
