bz2file==0.98
cssselect==1.0.0
docopt==0.6.2
Flask==0.10.1
Flask-Compress==1.2.1
Flask-SSLify==0.1.5
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.7.1
MarkupSafe==0.23
mock==2.0.0
mwparserfromhell==0.4
mysql==0.0.1
MySQL-python==1.2.5
pbr==1.10.0
python-dateutil==2.5.3
requests==2.9.1
six==1.10.0
Werkzeug==0.10.4
yamwapi==0.1
