#custom-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #EEF31A;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-top: 3px solid;
}

body[theme=dark] #custom-notice {
    background-color: #5f5f54;
}

#custom-controls .o-open {
    /* Fighting bootstrap, which sets margin-bottom. */
    margin: 0;
}

body[theme=dark] #custom-controls .o-open {
    color: #6D9FF0;
}

#custom-modal-wrapper {
    padding: 5px;
}

#custom-card-container textarea {
    resize: none;
    border: 2px solid #937E7E;
    width: 100%;
    padding: 2px;
}

#custom-created-link-wrapper {
    text-align: center;
}

#custom-card-end * {
    /* Reset margin for <p> elements around #custom-created-link */
    margin: 0;
}

#custom-created-link {
    font-size: large;
    border: 2px solid #937E7E;
    margin: 1rem 0;
    padding: 2px;
}

#custom-buttons-container {
    margin: 5px;
    padding-bottom: 10px;
}

#import-petscan-card input, #import-pagepile-card input {
    margin: 10px auto;
    display: block;
    border: 2px solid #937E7E;
    width: 50%;
    padding: 3px;
}

#select-articles-card .selected {
    opacity: 0.6;
}

#select-articles-card details {
    margin-bottom: 10px;
}

#selected-articles {
    list-style: none;
    max-height: 100px;
    overflow-y: scroll;
}

#selected-articles:empty {
    display: none;
}

#selected-articles .remove-button  {
    cursor: pointer;
    background-image: url("../icon/ic_remove.svg");
    background-repeat: no-repeat;
    background-position-y: 2px;
    display: inline-block;
    height: 20px;
    width: 27px;
}

#custom-spinner {
    /* Make it less likely for the text to run into the spinner */
    height: 10px;
}
