.pure-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.pure-modal-wrap {
    background-color: #FCFCFC !important;
    padding: 20px 20px 0 20px !important;
}

body[theme=dark] .pure-modal-wrap {
    background-color: #1B1B1B !important;
}

.pure-modal .pure-modal-overlay .close {
    position: static;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    padding: 5px 0;
    border-top: 2px solid #12120F;
    color: #12120F;
    line-height: 30px;
    margin: 0;
}

body[theme=dark] .pure-modal-overlay .close {
    border-top: 2px solid;
    border-top-color: unset;
    color: unset;
}

@media (min-width: 768px) {
    .snippet-notice-modal .pure-modal-wrap {
        width: 45% !important;
    }
}

.pure-modal .pure-modal-overlay .close:hover {
    color: #FCFCFC;
    border-top-color: #FCFCFC;
}
