[hidden] {
    display: none;
}

div.awesomplete * {
    font-family: inherit;
    font-size: small;
}

div.awesomplete {
    /* should be equal to the width of the input, including border */
    width: 450px;
    text-align: initial;
}

div.awesomplete > ul {
    position: absolute;
    width: 440px;
    /* left + right should add up to the padding in the input element */
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    margin-top: 0;
    border: 1.8px solid #967A7A;
    border-top: none;
    border-radius: 0 0 2px 2px;
}

html[dir="ltr"] div.awesomplete > ul {
    padding: 0 7px 0 1px;
}

html[dir="rtl"] div.awesomplete > ul {
    padding: 0 1px 0 7px;
}

div.awesomplete > ul > li {
    width: 440px;
    padding: 3px;
    cursor: default;
}

div.awesomplete > input {
    width: 440px;
    padding: 4px;
    border: 1.8px solid #967A7A;
    border-radius: 2px;
}

div.awesomplete > input:focus {
    outline: none;
}

div.awesomplete > input.open {
    border-bottom-color: rgba(240, 228, 236, 0.5);
    border-radius: 2px 2px 0 0;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
    display: none;
}

div.awesomplete > ul > li:hover,
div.awesomplete > ul > li[aria-selected="true"] {
    color: black;
    background: rgba(240, 228, 236, 0.5);
}

div.awesomplete mark {
    background: none;
    font-weight: bold;
}

div.awesomplete li:hover mark {
    background: none;
    font-weight: bold;
}

.visually-hidden {
    display: none;
}
