[hidden] {
    display: none;
}

div.awesomplete * {
    font-size: 14px;
    font-family: inherit;
}

div.awesomplete {
    /* should be equal to the width of the input, including border */
    width: 450px;
    text-align: initial;
}

div.awesomplete > ul {
    position: absolute;
    width: 444px;
    max-height: 255px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    margin-top: 0;
    border: 1.8px solid #967A7A;
    border-top: none;
    border-radius: 0 0 2px 2px;
}

html[dir="ltr"] div.awesomplete > ul {
    padding: 0 3px 0 1px;
}

html[dir="rtl"] div.awesomplete > ul {
    padding: 0 1px 0 3px;
}

div.awesomplete > ul > li {
    width: 440px;
    padding: 3px;
    cursor: default;
}

div.awesomplete > ul > li > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: transparent;
    display: table-cell;
}

div.awesomplete > ul > li > div.label {
    width: 100%;
    max-width: 0;
}

div.awesomplete > ul > li > div.npages {
    color: #5f5f54;
}

html[dir="ltr"] div.awesomplete > ul > li > div.npages {
    padding-left: 5px;
}

html[dir="rtl"] div.awesomplete > ul > li > div.npages {
    padding-right: 5px;
}

div.awesomplete > input {
    width: 440px;
    padding: 4px;
    border: 1.8px solid #967A7A;
    border-radius: 2px;
}

div.awesomplete > input:focus {
    outline: none;
}

div.awesomplete > input.open {
    border-bottom-color: rgba(240, 228, 236, 0.5);
    border-radius: 2px 2px 0 0;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
    display: none;
}

div.awesomplete > ul > li:hover,
div.awesomplete > ul > li[aria-selected="true"] {
    color: black;
    background: rgba(240, 228, 236, 0.5);
}

div.awesomplete mark {
    background: none;
    font-weight: bold;
}

div.awesomplete li:hover mark {
    background: none;
    font-weight: bold;
}

.visually-hidden {
    display: none;
}
