#snippet sup {
    font-size: small;
    color: #0645AD;
    white-space: nowrap;
    /* Fix <sup> messing up the line-height in Chrome and Safari.
     * Source: https://stackoverflow.com/q/1530685/
     */
    line-height: 100%;
}

/* HACK: ideally we would like to just include a word-joiner character
 * (U+2060, &#8288;) in the markup before [citation-needed] tags, but that
 * character is actually visible in Chrome due to a bug. The following
 * workaround seems to work fine on FF, Chrome and Safari.
 * Chrome issue: https://code.google.com/p/chromium/issues/detail?id=225862
 */
#snippet sup:before {
    content: "⁠";
    opacity: 0;
    font-size: 1px;
}
