[hidden] {
    display: none;
}

body {
    margin: 0;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    background-color: #FCFCFC;
}

body * {
    background-color: inherit;
}

h1 {
    font-family: Georgia, serif;
    font-size: xx-large;
}

p {
    margin: 10px 0;
}

#preamble {
    margin: 40px 0 0 20px;
}

#snippet {
    position: relative;
    margin: 30px auto 40px auto;
    line-height: 20px;
    text-align: justify;
    max-width: 80%;
}

#quotation {
    position: absolute;
    top: 15px;
    left: -30px;
    font-size: 100px;
    opacity: 0.1;
    font-family: Fondamento, cursive;
    z-index: -1;
}

a {
    color: #0645AD;
}

a:focus {
    outline: none;
}

button {
    font-size: inherit;
}

button:focus {
    outline: none;
}

.citation-needed {
    font-size: small;
    color: #0645AD;
    white-space: nowrap;
    /* Fix <sup> messing up the line-height in Chrome and Safari.
     * Source: https://stackoverflow.com/q/1530685/
     */
    line-height: 100%;
}

#buttons {
    text-align: center;
    margin-bottom: 40px;
}

.button {
    margin: 0 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#button-wikilink {
    background-color: #5BC5A7;
}

#button-next {
    background-color: #E75A42;
}

#js-disabled-category-warning {
    color: crimson;
}

#github-link {
    position: absolute;
    font-size: small;
    top: 15px;
    right: 15px;
}

#lead-hint {
    float: right;
    border-radius: 4px;
    font-size: small;
    padding: 8px;
    background-color: #EEE2EA;
    text-align: justify;
    max-width: 35%;
    margin-left: 5px;
}

#staging-warning {
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #F0F00F;
}

/* HACK: ideally we would like to just include a word-joiner character
 * (U+2060, &#8288;) in the markup before [citation-needed] tags, but that
 * character is actually visible in Chrome due to a bug. The following
 * workaround seems to work fine on FF, Chrome and Safari.
 * Chrome issue: https://code.google.com/p/chromium/issues/detail?id=225862
 */
.citation-needed:before {
    content: "⁠";
    opacity: 0;
    font-size: 1px;
}
