[hidden] {
    display: none;
}

body {
    margin: 0;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    background-color: #FCFCFC;
}

body * {
    background-color: inherit;
}

h1 {
    font-family: Georgia, serif;
    font-size: xx-large;
}

p {
    margin: 10px 0;
}

#preamble {
    margin: 40px 0 0 20px;
}

#snippet {
    position: relative;
    margin: 30px auto 40px auto;
    line-height: 20px;
    text-align: justify;
    width: 85%;
}

#quotation {
    position: absolute;
    top: 15px;
    left: -30px;
    font-size: 100px;
    opacity: 0.1;
    font-family: Fondamento, cursive;
}

a {
    color: #0645AD;
}

a:focus {
    outline: none;
}

button {
    font-size: inherit;
}

button:focus {
    outline: none;
}

.citation-needed {
    font-size: small;
    position: relative;
    top: -5px;
    color: #0645AD;
    white-space: nowrap;
}

#buttons {
    text-align: center;
    margin-bottom: 40px;
}

.button {
    margin: 0 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#button-wikilink {
    background-color: #5BC5A7;
}

#button-next {
    background-color: #E75A42;
}

#js-disabled-category-warning {
    color: crimson;
}

#hidden-category-input {
    display: none;
}

#github-link {
    position: absolute;
    font-size: small;
    top: 15px;
    right: 15px;
}
