[hidden] {
    display: none;
}

body {
    margin: 0;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    background-color: #FCFCFC;
}

body * {
    background-color: inherit;
}

h1 {
    font-family: Georgia, serif;
    font-size: xx-large;
    margin-bottom: 15px;
}

#preamble {
    margin-top: 40px;
}

html[dir="ltr"] #preamble {
    margin-left: 20px;
}

html[dir="rtl"] #preamble {
    margin-right: 20px;
}

#snippet-wrapper {
    text-align: center;
    min-height: 64px;
    overflow-y: hidden;
}

#snippet {
    position: relative;
    line-height: 20px;
    text-align: justify;
    max-width: 80%;  /* slightly larger than #lead-hint */
    margin: 20px auto 0 auto;
    max-height: 200px;
}

#snippet:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0) 120px, #FCFCFC);
}

#quotation {
    position: absolute;
    top: 15px;
    font-size: 100px;
    opacity: 0.1;
    font-family: Fondamento, cursive;
}

html[dir="ltr"] #quotation {
    left: -30px;
}

html[dir="rtl"] #quotation {
    right: -30px;
}

a {
    color: #0645AD;
}

a:focus {
    outline: none;
}

button {
    font-size: inherit;
}

button:focus {
    outline: none;
}

.superscript {
    font-size: small;
    color: #0645AD;
    white-space: nowrap;
    /* Fix <sup> messing up the line-height in Chrome and Safari.
     * Source: https://stackoverflow.com/q/1530685/
     */
    line-height: 100%;
}

/* HACK: ideally we would like to just include a word-joiner character
 * (U+2060, &#8288;) in the markup before [citation-needed] tags, but that
 * character is actually visible in Chrome due to a bug. The following
 * workaround seems to work fine on FF, Chrome and Safari.
 * Chrome issue: https://code.google.com/p/chromium/issues/detail?id=225862
 */
.superscript:before {
    content: "⁠";
    opacity: 0;
    font-size: 1px;
}

.button {
    margin: 0 5px;
    padding: 9px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    min-width: 140px;
    transition: box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.button:active {
    opacity: 0.85;
}

#button-wikilink {
    color: white;
    background: #00AF89;
    box-shadow: 1px -1px 5px #008C6E inset, 0 2px 3px #BABABA;
    border: 2px solid #1C6F2C;
}

#button-wikilink:hover, #button-wikilink:focus {
    box-shadow: 1px -1px 5px #1C6F2C inset, 0 2px 3px #BABABA;
}

#button-next {
    color: white;
    background: #347BFF;
    box-shadow: -1px -1px 5px #2A62CC inset, 0 2px 3px #BABABA;
    transition: box-shadow 0.1s, opacity 0.1s;
    border: 2px solid #41499F;
}

#button-next:hover, #button-next:focus {
    box-shadow: -1px -1px 5px #41499F inset, 0 2px 3px #BABABA;
}

#js-disabled-category-warning {
    color: crimson;
}

#lang-selector {
    position: absolute;
    font-size: 13px;
    top: 15px;
    border: 1.8px solid #967A7A;
    border-radius: 2px;
}

html[dir="ltr"] #lang-selector {
    left: auto;
    right: 30px;
}

html[dir="rtl"] #lang-selector {
    right: auto;
    left: 30px;
}

#bottom {
    margin: 0 20px;
}

/* Use text-align: center as a hack to center the contents of
 * #after-snippet, but don't propagate that to descendants.
 */
#after-snippet {
    margin-top: 35px;
    text-align: center;
}

#after-snippet > div {
    margin: 10px 10px;
}

#category-filter-wrapper {
    display: inline-block;
}

#lead-hint {
    border-radius: 4px;
    font-size: small;
    padding: 8px;
    background-color: #EEE2EA;
    display: inline-block;
    margin-top: 10px;
    max-width: 75%; /* slightly smaller than that of #snippet */
}

.info {
    color: #5f5f54;
}

#instructions {
    font-size: 15.5px;
}

#instructions p {
    line-height: 20px;
    margin: 10px 0;
}

#fixed-count-container {
    margin-top: 20px;
}

#nfixed {
    font-weight: bold;
}

#footer {
    font-size: 13px;
    line-height: 17px;
    margin-top: 40px;
    text-align: center;
}

#footer p {
    margin: 0px auto;
    max-width: 450px;
}

#footer:before {
    content: "⁓";
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
}
