<!DOCTYPE HTML>

<html lang="en">
  <head>
    <title>Citation Hunt</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/awesomplete.css">
    <link href='https://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet' type='text/css'>
    <script src="/static/awesomplete/awesomplete.min.js"></script>
  </head>
  <body>
    <h1>Citation Hunt</h1>
    <p id=intro>Help find citations for Wikipedia articles!</h1>
    <p id="preamble">In page <a href={{ url }} target=_blank>{{ title }}</a>:</p>
    <blockquote id="snippet"><div id="quotation">"</div>{{ snippet | safe }}</blockquote>
    <div id="buttons">
      <a href={{ url }} target=_blank><button class="button" id="button-wikilink">I got this, take me there!</button></a>
      <button form="form-category" type="submit" id="button-next" class="button">Sorry, no idea. Next!</button>
    </div>
    <form method="GET" action="/" id="form-category">
      <input type="text" id="category-input" list="categories" placeholder="Filter by category">
      <datalist id="categories">
      {% for category in categories %}
        <option value={{ category.id }}>{{ category.title }}</option>
      {% endfor %}
      </datalist>
      <input type="text" id="hidden-category-input" name="cat">
    </form>
    <noscript>
      <span id="js-disabled-category-warning">sorry, filtering requires Javascript!</span>
    </noscript>
    <script>
      var cin = document.getElementById("category-input");
      var chi = document.getElementById("hidden-category-input");
      var options = document.getElementsByTagName("option");

      for (var i = 0; i < options.length; i++) {
        if (options[i].value === "{{ current_category }}") {
          cin.value = options[i].label;
          chi.value = options[i].value;
        }
      }

      function filterEmptyMatchesAll(text, input) {
        return (input === "") || Awesomplete.FILTER_CONTAINS(text, input);
      }

      var awc = new Awesomplete(cin);
      awc.minChars = 0;
      awc.maxItems = options.length;
      awc.sort = undefined;

      // Awesomplete attempts to create several <li> elements at every
      // keystroke. We know we only ever need |options.length| elements,
      // so preallocate and cache them for speed.
      var cacheIdx = 0;
      var cache = [];
      for (var i = 0; i < options.length; i++) {
        cache.push(document.createElement("li"));
      }

      awc.item = function(text, input) {
        if (cacheIdx == cache.length) {
          cacheIdx = 0;
        }

        var element = cache[cacheIdx++];
        element.innerHTML = text.replace(input.trim(), "<mark>$&</mark>");
        return element;
      }

      cin.addEventListener('click', function() {
          awc.evaluate();
      });

      cin.addEventListener("awesomplete-open", function() {
        this.classList.add("open");
      })

      cin.addEventListener("awesomplete-close", function() {
        this.classList.remove("open");
      })

      cin.addEventListener("awesomplete-selectcomplete", function() {
        var catname = cin.value;

        for (var i = 0; i < options.length; i++) {
          if (options[i].label == catname) {
            chi.value = options[i].value;
          }
        }

        this.form.submit()
      });
    </script>
    <p>Don't know how to add citations? See <a href=https://en.wikipedia.org/wiki/Help:Referencing_for_beginners target=_blank>Referencing for beginners.</a></p>
  </body>
</html>
