<!DOCTYPE HTML>

<html lang="{{ lang_tag }}" dir="{{ lang_dir }}" data-ch-lang-code="{{ lang_code }}">
  <head>
    <title>{{ strings.tooltitle }}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/snippet.css">
    <link rel="stylesheet" href="static/awesomplete.css">

    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js"
            integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
            crossorigin="anonymous"></script>
    <script src="static/js/lib/jquery.i18n/CLDRPluralRuleParser/CLDRPluralRuleParser.js" defer></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.js" defer></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.messagestore.js" defer></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.fallbacks.js" defer></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.parser.js" defer></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.emitter.js"defer ></script>
    <script src="static/js/lib/jquery.i18n/jquery.i18n.language.js" defer></script>

    <script src="static/js/lib/awesomplete/awesomplete.min.js" defer></script>
    <script src="static/js/lib/spin.js/spin.js" defer></script>

    <script src="static/js/category_filter.js" defer></script>
    <script src="static/js/lang_selector.js" defer></script>
    <script src="static/js/fixed.js" defer></script>
    <script src="static/js/shortcuts.js" defer></script>
    <meta name="robots" content="nofollow, noodp">
    <meta name="description" content="{{ strings.tooltitle }} - {{ strings.introduction }}">
  </head>
  <body>
    <h1>{{ strings.tooltitle }}</h1>
    {% if strings.instructions_goal %}
    <div id=instructions class="info">
        <p>{{ strings.instructions_goal }}</p>
        <p>{{ strings.instructions_details }}</p>
    </div>
    {% else %}
    <p id="intro">{{ strings.introduction }}</p>
    {% endif %}
    <p id="preamble"><span id="page-title-text">{{ strings.in_page % (article_url, article_title) }}</span></p>
    <div id="snippet-wrapper">
        <blockquote id="snippet">
            <div id="quotation">"</div>
            {{ snippet }}
        </blockquote>
        {% if not section and strings.lead_section_hint %}<div id="lead-hint">{{ strings.lead_section_hint }}</div>{% endif %}
    </div>
    <div id="after-snippet">
      <div>
        <a href="{{ config.lang_code }}/redirect?id={{ snippet_id }}&to={{ article_url_path }}{% if section %}#{{ section }}{% endif %}"
          target="_blank"><button class="button" id="button-wikilink">{{ strings.button_wikilink }}</button></a>
        <button form="form-next" type="submit" id="button-next" class="button">{{ strings.button_next }}</button>
      </div>
      <div id="category-filter-wrapper">
        <form method="GET" action="" id="form-next">
          <input type="text" id="category-input" value = "{{ current_category.title }}" autocomplete="off" placeholder="{{ strings.category_filter_placeholder }}" style="visibility: hidden;">
          <input type="text" id="hidden-id-input" name="id" value="{{ next_snippet_id }}" hidden>
          <input type="text" id="hidden-category-input" name="cat" value="{{ current_category.id }}" hidden>
        </form>
        <div id="spinner"></div>
        <noscript>
          <span id="js-disabled-category-warning">Sorry, filtering by category requires Javascript!</span>
        </noscript>
        {% if not strings.instructions_details %}
        <p id="beginners-link-text">{{ strings.beginners_hint }}</p>
        {% endif %}
      </div>
      <div id="fixed-count-container" class="info" hidden></div>
    </div>
    <link href="https://tools-static.wmflabs.org/fontcdn/css?family=Fondamento" rel="stylesheet" type="text/css">
    <link rel="prefetch" href="{{ config.lang_code }}?id={{ next_snippet_id }}&cat={{ current_category.id }}">
    <div id="footer" class="info">
      <a target="_blank" id="github-link" href="https://github.com/eggpi/citationhunt">{{ strings.github_link_title }}</a>
      <p>{{ strings.footer | format("https://wikitech.wikimedia.org/wiki/Portal:Tool_Labs", "https://translatewiki.net") if strings.footer else '' }}</p>
    </div>
    <select id="lang-selector">
      {% for lang_code, lang_name in config.lang_codes_to_lang_names.items() | sort %}
      <option data-lang-code="{{ lang_code }}" {% if config.lang_code == lang_code %} selected{% endif %}>{{ lang_name }}</option>
      {% endfor %}
    </select>
    <div id="js-strings"
      {% for k, v in js_strings.items() | sort %}
        data-{{ k }}="{{ v }}"
      {% endfor %}
    </div>
  </body>
</html>
