<!DOCTYPE HTML>

<html lang="{{ lang_tag }}" dir="{{ config.lang_dir }}" data-ch-lang-code="{{ lang_code }}">
  <head>
    <title>{{ strings.leaderboard_title }}</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>{{ strings.leaderboard_title }}</h1>
    <p class="info">{{ strings.leaderboard_description }}</p>
    <table id="leaderboard">
      <tr>
        <th>{{ strings.user }}</th>
        <th>{{ strings.edits }}</th>
      </tr>
    {% for user, count in leaderboard %}
      <tr>
        <td>
          <a href="https://{{ config.wikipedia_domain }}/wiki/User:{{ user }}" target="_blank">
            {{ user }}
          </a>
        </td>
        <td class="edits">{{ count }}</td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>
